.menu_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-normal);
  padding: var(--space-small) var(--space-normal);

  border-radius: var(--space-normal);

  &:hover {
    cursor: pointer;
    background-color: var(--color-darken);
  }

  .title {
    margin-right: auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
