@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;700&family=Mukta:wght@400;700&display=swap');

:root {
  --color-main: #fafafa;
  --color-side: #f4f4f4;
  --color-active: #ebebeb;
  --color-accent: #ffd43b;
  --color-accent-darken: #e0bb2c;
  --color-focus: #3250ae50;
  --color-darken: #00000015;

  --text-color-main: #252525;
  --text-color-side: #9b9b9b;

  --text-skinny: 400;
  --text-bold: 700;

  --large-scale: 1.8rem;
  --normal-scale: 1.3rem;
  --small-scale: 1.0rem;
  --tiny-scale: 0.8rem;

  --space-tiny: 4px;
  --space-small: 8px;
  --space-normal: 12px;
  --space-big: 16px;
  --space-large: 24px;

  --default-font: 'Lexend Deca', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.large {
  --size: var(--large-scale);
}

.normal, * {
  --size: var(--normal-scale);
}

.small {
  --size: var(--small-scale);
}

.tiny {
  --size: var(--tiny-scale);
}

html {
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100vh;
  color: var(--text-color-main);
  font-weight: var(--text-skinny);
  font-family: var(--default-font);
  overflow: auto;
}

.margin-bottom-large {
  margin-bottom: var(--space-large);
}

.margin-bottom-big {
  margin-bottom: var(--space-big);
}

.margin-bottom-normal {
  margin-bottom: var(--space-normal);
}

.margin-bottom-small {
  margin-bottom: var(--space-small);
}

.margin-bottom-tiny {
  margin-bottom: var(--space-tiny);
}

a {
  all: unset;
  cursor: pointer;
}

button, .input-text, textarea {
  all: unset;
}

select {
  background-color: transparent;
  border: none;
}
