.subtask_item {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  padding: var(--space-small) var(--space-large);

  align-items: center;

  gap: var(--space-normal);
}

.input {
  border-radius: var(--space-small);
  padding: 0 var(--space-tiny);

  &:hover, &:focus {
    outline: 2px solid var(--color-focus);
  }
}

.remove {
  transition: transform 200ms ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}
