.subtask_add {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: var(--space-small) var(--space-large);

  align-items: center;
  gap: var(--space-big);

  border-radius: var(--space-normal);
  outline: 1px solid var(--color-darken);

  &:hover, &:focus, &:focus-within {
    outline: 2px solid var(--color-focus);
  }
}

.plus {
  transition: transform 200ms ease;

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
  }
}
